<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">
        {% block stylesheet %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="{{ path('start') }}">dodajurlop.pl</a>
</nav>
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-1">{{ 'base.header.title'|trans }}</h1>
            <p class="lead">{{ 'base.header.subtitle'|trans }}</p>
            <hr class="m-y-md">
            <p>Zarejestruj się za darmo.</p>
            <p>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">{{ 'layout.register'|trans }}</a>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">{{ 'layout.login'|trans }}</a>
            </p>
        </div>
    </div>
{% endblock %}

<div class="container">
    {% block body %}{% endblock %}

    <footer>
        <p>&copy; <a href="http://marceen.pl" target="_blank">marceen.pl</a> 2015</p>
    </footer>
</div>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
