<ul class="nav navbar-nav side-nav">
    <li>
        <a href="{{ path('dashboard') }}" class="nav-link">{{ 'dashboard'|trans }}</a>
    </li>
    <li>
        <a href="#" class="nav-link">{{ 'app.zwolnienia.title'|trans }}</a>
    </li>
    <li>
        <a href="#" class="nav-link">{{ 'app.pracownicy.title'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('organizacja') }}" class="nav-link">{{ 'app.organizacje.title'|trans }}</a>
    </li>
</ul>