<ul class="nav navbar-nav side-nav">
    <li>
        <a href="{{ path('dashboard') }}" class="nav-link">{{ icon('dashboard') }} {{ 'dashboard'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('urlop') }}" class="nav-link">{{ icon('image') }} {{ 'app.urlopy.title'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('pracownik') }}" class="nav-link">{{ icon('group') }} {{ 'app.pracownicy.title'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('organizacja') }}" class="nav-link">{{ icon('building') }} {{ 'app.organizacje.title'|trans }}</a>
    </li>
</ul>