{% extends ':bootstrap:panel-without-footer.html.twig' %}
{% use ':bootstrap:table.html.twig' %}

{% block panelTitle %}{{ 'app.urlopy.title'|trans }}{% endblock %}

{% block panelBody %}
    {% if(urlopy is empty) %}
        <div>{{ 'app.urlopy.brak'|trans }}</div>
    {% else %}
        {{ block('table') }}
    {% endif %}
{% endblock %}

{# tabelka #}
{% block tableHeadRow %}
    <td class="col-md-1">#</td>
    <td>{{ 'Rok'|trans }}</td>
    <td>{{ 'Pracownik'|trans }}</td>
    <td>{{ 'Organizacja'|trans }}</td>
    <td>{{ 'Data od'|trans }}</td>
    <td>{{ 'Data do'|trans }}</td>
    <td>{{ 'Ilosc dni'|trans }}</td>
    <td>{{ 'Urlop rodzaj'|trans }}</td>
    <td></td>
{% endblock %}

{% block tableBody %}
    {% for urlop in urlopy %}
        <tr>{{ block('tableBodyRow') }}</tr>
    {% endfor %}
{% endblock %}

{% block tableBodyRow %}
    <td>{{ urlop.id }}</td>
    <td>{{ urlop.rok }}</td>
    <td>{{ urlop.pracownik }}</td>
    <td>{{ urlop.organizacja }}</td>
    <td>{{ urlop.dataOd.format('Y-m-d') }}</td>
    <td>{{ urlop.dataDo.format('Y-m-d') }}</td>
    <td>{{ urlop.iloscDni }}</td>
    <td>{{ urlop.urlopRodzaj }}</td>
    <td>
        <a href="{{ path('urlop.delete', {'id': urlop.id }) }}">{{ 'app.urlop.delete'|trans }}</a>
    </td>
{% endblock %}