{% extends ':bootstrap:panel-without-footer.html.twig' %}
{% use ':bootstrap:table.html.twig' %}

{% block panelTitle %}{{ 'app.organizacje.lista'|trans }}{% endblock %}

{% block panelBody %}
    {% if(organizacje is empty) %}
        <div>{{ 'app.organizacje.brak'|trans }}</div>
    {% else %}
        {{ block('table') }}
    {% endif %}
{% endblock %}

{# tabelka #}
{% block tableHeadRow %}
    <td class="col-md-1">#</td>
    <td class="col-md-4">{{ 'Nazwa'|trans }}</td>
    <td class="col-md-7">{{ 'Pnazwa'|trans }}</td>
{% endblock %}

{% block tableBody %}
    {% for organizacja in organizacje %}
        <tr>{{ block('tableBodyRow') }}</tr>
    {% endfor %}
{% endblock %}

{% block tableBodyRow %}
    <td>{{ organizacja.id }}</td>
    <td>{{ organizacja.nazwa }}</td>
    <td>{{ organizacja.pnazwa }}</td>
{% endblock %}