{% extends ':bootstrap:panel-without-footer.html.twig' %}
{% use ':bootstrap:table.html.twig' %}

{% block panelTitle %}{{ 'app.organizacje.lista'|trans }}{% endblock %}

{% block panelBody %}
    {% if(organizacje is empty) %}
        <div>{{ 'app.organizacje.brak'|trans }}</div>
    {% else %}
        {{ block('table') }}
    {% endif %}
{% endblock %}

{# tabelka #}
{% block tableHeadRow %}
    <td class="col-md-1">#</td>
    <td class="col-md-4">{{ 'Nazwa'|trans }}</td>
    <td class="col-md-6">{{ 'Pnazwa'|trans }}</td>
    <td class="col-md-1"></td>
{% endblock %}

{% block tableBody %}
    {% for organizacja in organizacje %}
        <tr>{{ block('tableBodyRow') }}</tr>
    {% endfor %}
{% endblock %}

{% block tableBodyRow %}
    <td>{{ organizacja.id }}</td>
    <td>{{ organizacja.nazwa }}</td>
    <td>{{ organizacja.pnazwa }}</td>
    <td style="text-align: right;">
        <div class="btn-group btn-group-xs">
            <a class="btn btn-default" data-toggle="bootbox-replace" data-width="800" href="{{ path('organizacja.edytuj', {'id': organizacja.id}) }}">{{ 'app.organizacja.edytuj'|trans|capitalize }}</a>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ path('organizacja.delete', {'id': organizacja.id}) }}">{{ 'app.organizacja.delete'|trans|capitalize }}</a></li>
            </ul>
        </div>
    </td>
{% endblock %}