{% extends ':bootstrap:panel-without-footer.html.twig' %}
{% use ':bootstrap:table.html.twig' %}

{% block panelTitle %}{{ 'app.pracownicy.lista'|trans }}{% endblock %}

{% block panelBody %}
    {% if(pracownicy is empty) %}
        <div>{{ 'app.pracownicy.brak'|trans }}</div>
    {% else %}
        {{ block('table') }}
    {% endif %}
{% endblock %}

{# tabelka #}
{% block tableHeadRow %}
    <td class="col-md-1">#</td>
    <td class="col-md-1">{{ 'Imie'|trans }}</td>
    <td class="col-md-2">{{ 'Nazw'|trans }}</td>
    <td class="col-md-2">{{ 'Email'|trans }}</td>
    <td class="col-md-2">{{ 'Organizacja'|trans }}</td>
    <td class="col-md-2">{{ 'ilosc_dni_wolnych'|trans }}</td>
{% endblock %}

{% block tableBody %}
    {% for pracownik in pracownicy %}
        <tr>{{ block('tableBodyRow') }}</tr>
    {% endfor %}
{% endblock %}

{% block tableBodyRow %}
    <td>{{ pracownik.id }}</td>
    <td>{{ pracownik.imie }}</td>
    <td>{{ pracownik.nazw }}</td>
    <td>{{ pracownik.email }}</td>
    <td>{{ pracownik.organizacja }}</td>
    <td>{{ pracownik.IloscDniWolnych }}</td>
    <td>
        <a class="btn btn-primary" data-toggle="bootbox-replace" data-width="800" href="{{ path('pracownik.edytuj', {'id': pracownik.id}) }}">{{ 'app.pracownik.edytuj'|trans|capitalize }}</a>
        <a class="btn btn-primary" href="{{ path('pracownik.delete', {'id': pracownik.id}) }}">{{ 'app.pracownik.delete'|trans|capitalize }}</a>
    </td>
    {#<td>#}
        {#<a class="btn btn-primary" href="{{ path('pracownik.delete', {'id': pracownik.id}) }}">{{ 'app.pracownik.delete'|trans|capitalize }}</a>#}
    {#</td>#}
{% endblock %}